<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="main">
        <div class="navbar orange-color brown-text">
            <div class="container nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="title">
                        @Html.ActionLink("Food Fetch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Browse", "Index", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @RenderPage("LogInOut.cshtml")
                    </ul>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - @Html.ActionLink("Site Map", "Sitemap", "Home") | @Html.ActionLink("Privacy Policy", "Privacy", "Home") | @Html.ActionLink("Contact", "Contact", "Home")</p>
            </footer>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>